<div id="<%= dom_id incident %>">
  <p>
    <strong>Incident date:</strong>
    <%= incident.incident_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= incident.description %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= incident.summary %>
  </p>

  <p>
    <strong>User normal:</strong>
    <%= incident.user_normal_id %>
  </p>

</div>
