<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= user.supervisor_id %>
  </p>

  <p>
    <strong>Executive:</strong>
    <%= user.executive_id %>
  </p>

</div>
