<div id="<%= dom_id ticket %>">
  <p>
    <strong>Claim date:</strong>
    <%= ticket.claim_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= ticket.due_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Incident:</strong>
    <%= ticket.incident_id %>
  </p>

  <p>
    <strong>User normal:</strong>
    <%= ticket.user_normal_id %>
  </p>

  <p>
    <strong>User administrator:</strong>
    <%= ticket.user_administrator_id %>
  </p>

  <p>
    <strong>User supervisor:</strong>
    <%= ticket.user_supervisor_id %>
  </p>

  <p>
    <strong>User executive:</strong>
    <%= ticket.user_executive_id %>
  </p>

</div>
